* {
  margin: 0;
  padding: 0; }

.side-bar, .main-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 80px; }

a {
  text-decoration: none; }

.side-bar {
  width: 20%;
  font-size: 1.5rem; }
  .side-bar h3 {
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    letter-spacing: 1rem;
    padding: 1.3rem 1rem 0.7rem;
    color: #666;
    border-bottom: 3px solid #365899; }
  .side-bar ul {
    text-align: center; }
    .side-bar ul a {
      display: inline-block;
      padding: 1rem;
      width: 50%;
      color: #777;
      font-weight: bold;
      position: relative; }
      .side-bar ul a span {
        position: absolute; }
      .side-bar ul a .option-icon {
        left: 0; }
      .side-bar ul a .go-icon {
        right: 0; }

.main-container {
  width: 75%;
  border-left: 2px solid #999;
  min-height: 500px;
  padding-bottom: 3rem;
  margin-bottom: 2rem; }
  .main-container h3 {
    padding: 3rem 0 3rem 1rem;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.5rem; }
    .main-container h3 span {
      display: inline-block;
      padding: 0.5rem;
      border-bottom: 2px solid #cc3300; }
  .main-container .con-title div {
    font-size: 1.5rem;
    font-weight: bold; }
  .main-container .regis-con {
    position: relative;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #ccc; }
  .main-container .list-attr {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    font-size: 1.4rem; }
  .main-container button {
    margin: 0;
    background: #cc3300;
    color: #f2f2f2;
    vertical-align: middle; }
  .main-container .member-regis-list {
    width: 90%;
    margin-left: 5%; }
    .main-container .member-regis-list div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .main-container .member-regis-list .member-name {
      width: 20%; }
    .main-container .member-regis-list .member-post {
      width: 20%; }
    .main-container .member-regis-list .member-time {
      width: 20%; }
    .main-container .member-regis-list .member-approve {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 1% 0 0; }
  .main-container .duty-regis-list {
    width: 90%;
    margin-left: 5%; }
    .main-container .duty-regis-list .duty-member {
      width: 16%; }
    .main-container .duty-regis-list .duty-post {
      width: 10%; }
    .main-container .duty-regis-list .duty-name {
      width: 25%; }
    .main-container .duty-regis-list .duty-date {
      width: 15%; }
    .main-container .duty-regis-list .duty-time {
      width: 15%; }
      .main-container .duty-regis-list .duty-time div {
        margin: 0; }
      .main-container .duty-regis-list .duty-time input {
        padding: 0.3rem;
        text-align: center;
        width: 80%; }
    .main-container .duty-regis-list .duty-approve {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 1% 0 0; }

      