/*
* @Author: CharlesKo
* @Date:   2017-10-13 17:58:29
* @Last Modified by:   CharlesKo
* @Last Modified time: 2017-11-13 05:14:49
*/

.admin-btn button {
  background: #cc3300;
  color: #f2f2f2; }

.events {
  width: 80%;
  margin: 0.5rem auto;
  position: relative; }
  .events div {
    display: inline-block;
    vertical-align: middle;
    text-align: center; }
  .events input {
    width: 95%;
    padding: 0.2rem 0.3rem; }
  .events .event-date {
    width: 10%; }
  .events .event-time {
    width: 10%;
    padding: 0; }
    .events .event-time div {
      width: 90%;
      margin: 0 auto;
      padding: 0.5rem 0; }
  .events .event-venue {
    width: 20%; }
  .events .eventname {
    width: 15%; }
  .events .event-pic {
    width: 13%; }
  .events .event-note {
    width: 13%; }
    .events .event-note textarea {
      padding: 0.5rem;
      width: 80%; }
  .events .event-btn {
    padding: 0;
    position: absolute;
    right: 0;
    top: 2.3rem; }
    .events .event-btn button {
      background: #0077b3;
      color: #f2f2f2; }
    .events .event-btn .submit-btn, .events .event-btn .cancel-btn {
      display: none; }

.event-title {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  margin-top: 4rem; }
  .event-title div {
    padding: 1.5rem 0; }

.event-con {
  font-size: 1.3rem;
  border-bottom: 2px solid #eee; }
  .event-con div {
    padding: 1rem 0; }

#add-event-admin {
  width: 100%;
  text-align: left;
  position: absolute;
  top: -9rem;
  z-index: 90; }
  #add-event-admin div {
    text-align: left; }
  #add-event-admin .add-title {
    display: inline-block;
    background: #4080bf;
    color: #f2f2f2; }
    #add-event-admin .add-title div {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 0rem 1rem; }
  #add-event-admin .add-con {
    text-align: center;
    padding-top: 2rem;
    margin-top: 1rem;
    border: 2px solid #999;
    display: none;
    background: #f2f2f2; }
    #add-event-admin .add-con div {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      width: 49%;
      padding: 0.6rem 0; }
      #add-event-admin .add-con div input:first-child, #add-event-admin .add-con div textarea {
        margin-left: 1rem; }
      #add-event-admin .add-con div textarea {
        width: 90%;
        padding: 0.2rem;
        border: 1px solid #999;
        outline: none; }
    #add-event-admin .add-con input {
      font-size: 1.3rem;
      padding: 0.3rem;
      border: 1px solid #999;
      outline: none; }
    #add-event-admin .add-con .add-date input {
      width: 24%; }
    #add-event-admin .add-con .add-time input {
      width: 35%; }
    #add-event-admin .add-con .add-eventname input, #add-event-admin .add-con .add-venue input, #add-event-admin .add-con .add-pic input {
      width: 90%; }
    #add-event-admin .add-con .submit-btn {
      text-align: center;
      margin-top: 1rem; }

.idvalue span {
  display: none; }
  