<!DOCTYPE html>
<html lang='en'>
	<head>
		<%= require('html-loader!./layout/head-common.html') %>
		<title><%= htmlWebpackPlugin.options.title %> ffwpa b web</title>
		
	</head>

	<body>

		<%= require('html-loader!./layout/navigate.html') %>
		<%= require('html-loader!./layout/sub-navi.html') %>


		<div class="page-title">
			<p>香港聖約翰救傷隊</p>
			<p>漁民B支隊 返會時間表</p>
		 </div>

		<div class="events-list">

			<div class="event-title events">
			
				<div class="event-date">日期
				</div><div class="event-time">時間
				</div><div class="event-venue">地點
				</div><div class="eventname">題目
				</div><div class="event-pic">負責人
				</div><div class="event-note">備註
				</div><div class="submit-btn"></div>
			</div>


			<div class="event-list">
			</div>

		</div>


		<!-- <div class='resBox'>
			成功添加
		</div> -->

		<!-- <script type='text/javascript' src='../js/jquery-3.2.1.js' ></script>
		<script type='text/javascript' src='../js/common.js' ></script>
		<script type='text/javascript' src='../js/doAdmin.js'></script> -->
		
		<%= require('html-loader!./layout/footer.html') %>

	</body>
</html>