
<!--  This is navigation, every page has the same format of navigation  -->
		<div id='nav' >
			<div id='navContain'>
			
			<div class='nav' id='nav-icon'>
				<h1><a href='#'><img src='../../image/princess1.jpeg' /> FFWPA <span>B</span> <img src='../../image/princess1.jpeg' /></a></h1>
			</div>

			
			<div class='nav' id='nav-user'>
			
				<div class='nav-user' id='user-sicon'>
					<a href='http://localhost:8088/dist/view/personal.html'>
						<img src='../../image/princess1.jpeg' />
						<div id='user-name'>Chit</div>
					</a>
					<ul class='nav-user' id='user-options'>
						<li><a class='admin-login user-option' href='#'>Login as Admin</a></li>
						<li><a class='change-pwd user-option' href='#'>Change Password</a></li>
						<li><a class='logout user-option' href='#'>Log Out</a></li>
					</ul>
					
				</div>

			</div>

			<div class='nav' id='nav-options'>
				<span class='img-helper'></span><i class="fa fa-reorder option-title"></i><ul>
					<li><a href='#'>當更</a></li><li>
					<a href='#'>集會</a></li><li>
					<a href='#'>隊員</a></li><li>
					<a href='#'>消息</a></li>
				</ul>
				
			</div>

			</div>
		</div>